Obtain the list of short selling disclosures made to the UK FCA (link below).

http://www.fca.org.uk/static/documents/short-positions-daily-update.xls

Load the file to a Pandas dataframe.

In [1]:
import pandas as pd
current = pd.read_excel("short-positions-daily-update.xls", sheetname=0)
historical = pd.read_excel("short-positions-daily-update.xls", sheetname=1)

Display the size of a data frame (number of rows and columns) by using the “shape” property.

In [2]:
print(current.shape)
print(historical.shape)

(517, 5)
(31807, 5)

List the column headers by using the “columns” property of a data frame.

In [3]:
print(current.columns)
print(historical.columns)

Index(['Position Holder', 'Name of Share Issuer', 'ISIN',
       'Net Short Position (%)', 'Position Date'],
      dtype='object')
Index(['Position Holder', 'Name of Share Issuer', 'ISIN',
       'Net Short Position (%)', 'Position Date'],
      dtype='object')

Summarize a data frame by using the “describe” property.

In [4]:
current.describe(include = 'all')

,Position Holder,Name of Share Issuer,ISIN,Net Short Position (%),Position Date
count,517,517,517,517.000000,517
unique,142,215,215,NaN,152
top,BlackRock Investment Management (UK) Limited,CARILLION PLC,GB0007365546,NaN,2017-07-05
freq,44,18,18,NaN,36
mean,NaN,NaN,NaN,1.009323,NaN
std,NaN,NaN,NaN,0.681396,NaN
min,NaN,NaN,NaN,0.500000,NaN
25%,NaN,NaN,NaN,0.590000,NaN
50%,NaN,NaN,NaN,0.770000,NaN
75%,NaN,NaN,NaN,1.160000,NaN
max,NaN,NaN,NaN,4.650000,NaN

Display the first 5 rows of the current and historical data frames in a tabular format.

In [5]:
from IPython.display import display
display(current.head(5))
display(historical.head(5))

,Position Holder,Name of Share Issuer,ISIN,Net Short Position (%),Position Date
0,OLD MUTUAL GLOBAL INVESTORS (UK) LTD,A.G. Barr PLC,GB00B6XZKY75,1.09,2017-03-30
1,"AQR Capital Management, LLC",AA PLC,GB00BMSKPJ95,0.90,2017-06-22
2,GLG Partners LP,AA PLC,GB00BMSKPJ95,0.89,2017-07-05
3,Marshall Wace LLP,Acacia Mining plc,GB00B61D2N63,0.70,2017-07-03
4,Horizon Asset LLP,ADES INTERNATIONAL HOLDING LTD,AEDFXA1EN018,0.51,2017-06-05

,Position Holder,Name of Share Issuer,ISIN,Net Short Position (%),Position Date
0,AlphaGen Capital Limited,1SPATIAL PLC,GB00B09LQS34,0.00,2013-06-24
1,AlphaGen Capital Limited,1SPATIAL PLC,GB00B09LQS34,1.42,2013-05-29
2,AlphaGen Capital Limited,1SPATIAL PLC,GB00B09LQS34,0.71,2013-05-24
3,AlphaGen Capital Limited,888 Holdings plc,GI000A0F6407,0.48,2013-05-16
4,AlphaGen Capital Limited,888 Holdings plc,GI000A0F6407,0.50,2013-04-24

From the “current” data frame, list all the open short positions with “Net Short Position (%)” greater than 4% of the company’s shares in circulation.

In [6]:
display(current[current['Net Short Position (%)'] > 4])

,Position Holder,Name of Share Issuer,ISIN,Net Short Position (%),Position Date
89,"The Mangrove Partners Master Fund, Ltd.",CIRCASSIA PHARMACEUTICALS PLC,GB00BJVD3B28,4.65,2017-06-22
123,ODEY ASSET MANAGEMENT LLP,DEBENHAMS PLC,GB00B126KH97,4.41,2017-07-05
244,ODEY ASSET MANAGEMENT LLP,LANCASHIRE HOLDINGS LTD,BMG5361W1047,4.49,2017-06-06
338,"AQR Capital Management, LLC",PETROFAC LTD,GB00B0H2K534,4.01,2017-06-29
505,"AQR Capital Management, LLC",WOOD GROUP (JOHN) PLC,GB00B5N0P849,4.50,2017-06-29

List all the short positions in "DEBENHAMS PLC".

In [7]:
display(current[current['Name of Share Issuer'] == 'DEBENHAMS PLC'])

,Position Holder,Name of Share Issuer,ISIN,Net Short Position (%),Position Date
119,Ardevora Asset Management LLP,DEBENHAMS PLC,GB00B126KH97,0.72,2017-06-02
120,"BlackRock Institutional Trust Company, Nationa...",DEBENHAMS PLC,GB00B126KH97,0.91,2017-05-10
121,BlackRock Investment Management (UK) Limited,DEBENHAMS PLC,GB00B126KH97,3.08,2017-06-30
122,CapeView Capital LLP,DEBENHAMS PLC,GB00B126KH97,1.19,2017-04-03
123,ODEY ASSET MANAGEMENT LLP,DEBENHAMS PLC,GB00B126KH97,4.41,2017-07-05
124,Standard Life Investments Limited,DEBENHAMS PLC,GB00B126KH97,0.56,2017-06-05
125,UBS Asset Management (UK) Ltd,DEBENHAMS PLC,GB00B126KH97,1.59,2016-11-21

The current list of the 5 most heavily shorted securities.

In [8]:
tempData = current[['Name of Share Issuer', 
                    'Net Short Position (%)']]

totalShorts = tempData.groupby(['Name of Share Issuer'])['Net Short Position (%)'].sum()

totalShorts = totalShorts.reset_index()

totalShorts = totalShorts.sort_values('Net Short Position (%)', ascending = False)

display(totalShorts.head(5))

         Name of Share Issuer  Net Short Position (%)
36              CARILLION PLC                   25.49
137           OCADO GROUP PLC                   18.47
212  WM MORRISON SUPERMARKETS                   16.48
213     WOOD GROUP (JOHN) PLC                   13.21
197            TULLOW OIL PLC                   12.67

Five least shorted companies.

In [9]:
display(totalShorts.tail(5))

             Name of Share Issuer  Net Short Position (%)
171              SAFESTYLE UK PLC                     0.5
185             STANDARD LIFE PLC                     0.5
111                KCOM GROUP PLC                     0.5
46     CREST NICHOLSON HLDGS  PLC                     0.5
26   BRITISH AMERICAN TOBACCO PLC                     0.5

Five most active short sellers.

In [10]:
tempData = current[['Position Holder']]
activeShorters = tempData.groupby(['Position Holder']).size()
activeShorters = activeShorters.reset_index()
activeShorters.columns = ['Position Holder', 'Short Count']
activeShorters = activeShorters.sort_values('Short Count', ascending = False)
display(activeShorters.head(5))

                                 Position Holder  Short Count
20  BlackRock Investment Management (UK) Limited           44
85                             Marshall Wace LLP           41
3                    AQR Capital Management, LLC           32
73            JPMorgan Asset Management (UK) Ltd           21
59                      GSA Capital Partners LLP           20

From the historical disclosures, establish the oldest and most recent disclosure for each company so that you can find out how long each company has been subject to short selling.

Exclude those companies where there are currently no short positions.

In [11]:
tempData = historical[['Name of Share Issuer', 'Position Date']]

tempData = tempData[tempData['Name of Share Issuer'].isin(current['Name of Share Issuer'])== True]

tempData['Position Date'] = pd.to_datetime(tempData['Position Date'])

tempRecent = tempData.sort_values(['Name of Share Issuer', 'Position Date'],
                                  ascending = [True, False]).groupby('Name of Share Issuer').head(1)

tempOldest = tempData.sort_values(['Name of Share Issuer', 'Position Date'],
                                  ascending = [True, False]).groupby('Name of Share Issuer').tail(1)

tempRecent.columns = ['Name of Share Issuer', 'Most Recent Short']

tempOldest.columns = ['Name of Share Issuer', 'Oldest Short']

tempResults = pd.merge(tempRecent, tempOldest, left_on = 'Name of Share Issuer', right_on = 'Name of Share Issuer')

tempResults['Day Count'] = (tempResults['Most Recent Short'] - 
                            tempResults['Oldest Short'])

tempResults = tempResults.sort_values('Day Count', ascending = False)

display(tempResults.head(5))

          Name of Share Issuer Most Recent Short Oldest Short Day Count
27          BURBERRY GROUP PLC        2017-07-05   2012-11-01 1707 days
167                    SIG PLC        2017-07-05   2012-11-01 1707 days
79   HIKMA PHARMACEUTICALS PLC        2017-07-04   2012-11-01 1706 days
20    BARRATT DEVELOPMENTS PLC        2017-07-04   2012-11-01 1706 days
50    DOMINO'S PIZZA GROUP PLC        2017-07-04   2012-11-02 1705 days

Companies where short positions were recently opened.

In [12]:
display(tempResults.tail(5))

       Name of Share Issuer Most Recent Short Oldest Short Day Count
11   AMERISUR RESOURCES PLC        2017-04-13   2017-04-04    9 days
38          COATS GROUP PLC        2017-06-21   2017-06-16    5 days
37          CMC MARKETS PLC        2017-03-06   2017-03-03    3 days
152        RENOVO GROUP PLC        2013-08-22   2013-08-20    2 days
51            DP POLAND PLC        2017-05-10   2017-05-10    0 days

Let's save the results of the last three exercises (i.e. the “activeShorters”, “totalShorts” and “tempResults” data frames) to an Excel spreadsheet (“output.xlsx”).

In [13]:
writer = pd.ExcelWriter('output.xlsx')
activeShorters.to_excel(writer, sheet_name='Active Shorters', index=False)
totalShorts.to_excel(writer, sheet_name='Total Shorts', index=False)
tempResults.to_excel(writer, sheet_name='Period of Shorting', index=False)
writer.save()

Let's enrich the short position data with some information about the companies being shorted. The London Stock Exchange provides some details of companies whose shares have been admitted to trading on the London Stock Exchange. You can obtain this from the link provided below:

http://www.londonstockexchange.com/statistics/companies-and-issuers/companies-defined-by-mifir-identifiers-list-on-lse.xlsx

In [14]:
import pandas as pd
shorts = pd.read_excel("short-positions-daily-update.xls", sheetname=0)
LSEdata = pd.read_excel("companies-defined-by-mifir-identifiers-list-on-lse.xlsx", 
                        sheetname=0, skiprows=5, skip_footer=2)

In [15]:
print(shorts.columns)
print(LSEdata.columns)

Index(['Position Holder', 'Name of Share Issuer', 'ISIN',
       'Net Short Position (%)', 'Position Date'],
      dtype='object')
Index(['Unnamed: 0', 'Admission Date', 'Company Name', 'ICB Industry',
       'ICB Super-Sector', 'Country of Incorporation', 'World Region',
       'Market', 'International Issuer', 'Company Market Cap (£m)',
       'Unnamed: 10'],
      dtype='object')

In [16]:
LSEdata = LSEdata.drop('Unnamed: 0', axis=1)
LSEdata = LSEdata.drop('Unnamed: 10', axis=1)
LSEdata.columns

Index(['Admission Date', 'Company Name', 'ICB Industry', 'ICB Super-Sector',
       'Country of Incorporation', 'World Region', 'Market',
       'International Issuer', 'Company Market Cap (£m)'],
      dtype='object')

Select only the data set we are interested in.

In [17]:
LSEdata = LSEdata[['Company Name', 'ICB Super-Sector', 'Company Market Cap (£m)']]

shorts = shorts[['Name of Share Issuer', 'Net Short Position (%)']]

enrichedShorts = pd.merge(shorts, LSEdata, left_on='Name of Share Issuer', 
                          right_on='Company Name', how='left')

enrichedShorts = enrichedShorts[enrichedShorts['Company Name'].notnull()]

enrichedShorts = enrichedShorts.drop('Company Name', axis=1)

display(enrichedShorts.head(5))

,Name of Share Issuer,Net Short Position (%),ICB Super-Sector,Company Market Cap (£m)
1,AA PLC,0.90,Industrial Goods & Services,1390.359422
2,AA PLC,0.89,Industrial Goods & Services,1390.359422
4,ADES INTERNATIONAL HOLDING LTD,0.51,Oil & Gas,422.371446
5,ADES INTERNATIONAL HOLDING LTD,0.67,Oil & Gas,422.371446
6,ADMIRAL GROUP PLC,0.90,Insurance,5704.192413

Let's find the value of each short position ((Net Short Position * Market cap)/100).

In [18]:
enrichedShorts['Short Value (£m)'] = ((enrichedShorts['Company Market Cap (£m)'] * 
                                      enrichedShorts['Net Short Position (%)']) / 100)
display(enrichedShorts.head(5))

,Name of Share Issuer,Net Short Position (%),ICB Super-Sector,Company Market Cap (£m),Short Value (£m)
1,AA PLC,0.90,Industrial Goods & Services,1390.359422,12.513235
2,AA PLC,0.89,Industrial Goods & Services,1390.359422,12.374199
4,ADES INTERNATIONAL HOLDING LTD,0.51,Oil & Gas,422.371446,2.154094
5,ADES INTERNATIONAL HOLDING LTD,0.67,Oil & Gas,422.371446,2.829889
6,ADMIRAL GROUP PLC,0.90,Insurance,5704.192413,51.337732

Let's find the "Super Sector" with the biggest amount of shorts in monetary terms.

In [19]:
sectorData = enrichedShorts[['ICB Super-Sector', 'Short Value (£m)']]
sectorData = sectorData.groupby(['ICB Super-Sector'])['Short Value (£m)'].sum()
sectorData = sectorData.reset_index()
sectorData = sectorData.sort_values('Short Value (£m)', ascending = False)
display(sectorData.head(5))
display(sectorData.tail(5))

               ICB Super-Sector  Short Value (£m)
14                       Retail       1817.718844
8   Industrial Goods & Services       1545.786717
2               Basic Resources       1048.658468
10                        Media        814.231290
12   Personal & Household Goods        746.187364

            ICB Super-Sector  Short Value (£m)
9                  Insurance         90.838825
1                      Banks         81.740498
4   Construction & Materials         78.115824
18                 Utilities         74.600137
0        Automobiles & Parts         32.472897